.sectionProjects {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    opacity: 0;
    transition: opacity 1.5s;
}

.sectionProjects.fade-in {
    opacity: 1;
}

.sphere10 {
    position: absolute;
    bottom: 25px;
    left: -145px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(#F6C961, #B82211);
    z-index: -1;
    animation: sphere-animation10 15s infinite;
}

.sphere11 {
    position: absolute;
    top: 435px;
    right: -7px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: linear-gradient(#A3F087, #026570);
    z-index: -1;
    animation: sphere-animation11 11s infinite;
}


.sphere12 {
    position: absolute;
    top: 65px;
    left: -25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(#7ECFFF, #59208B);
    z-index: -1;animation: sphere-animation12 9s infinite;
}

.containerProjects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1px solid black;
    backdrop-filter: blur(5px);
    padding: 20px;
}

.containerProject {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 175px;
    padding: 10px;
}

.buttonModal {
    width: 100%;
    height: 120px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.buttonModal img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.containerProject p {
    font-family: Vollkorn, serif;
    font-weight: 400;
    font-size: 15px;
}

@keyframes sphere-animation10 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(30px, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes sphere-animation11 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-10px, 30px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes sphere-animation12 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media(min-width: 650px) {

    .sectionProjects {
        width: 85%;
    }

    .containerProjects {
        grid-template-columns: repeat(2, 1fr);
    }

    .sphere10 {
        bottom: -65px;
        right: 0;
        left: auto;
    }

    .sphere11 {
        top: 340px;
        right: auto;
        left: -90px  ;
    }

    .sphere12 {
        top: 75px;
        left: auto;
        right: 10px;
    }
}

@media(min-width: 1024px) {
    .containerProjects {
        grid-template-columns: repeat(3, 1fr);
    }

    .containerProject p {
        font-size: 20px;
    }

    .sphere10 {
        bottom: -65px;
        right: 10px;
        left: auto;
    }

    .sphere11 {
        top: 190px;
        right: auto;
        left: -90px  ;
    }

    .sphere12 {
        top: 45px;
        left: auto;
        right: 260px;
    }
}