.modal {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; /* Aligner le contenu en haut */
    justify-content: center;
    overflow-y: auto;
    z-index: 2;
    animation: openModal 0.5s;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    width: 90%;
    height: 80vh;
    padding: 20px;
    gap: 10px;
    overflow-y: auto;
    animation: openModal 0.5s;
}

.closed {
    animation: closeModal 0.5s;
}


.modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.bannerContainer {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.bannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-content h2 {
    font-family: "Playfair Display", serif;
    color: #E79A3F;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.modal-content p {
    font-family: Vollkorn, serif;
    font-size: 15px;
    text-align: center;
    text-justify: auto;
}

.githubLogo {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@keyframes openModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes closeModal {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

@media(min-width: 360px) {
    .modal-content {
        height: auto;
    }
}

@media(min-width: 650px) {
    .modal-content {
        width: 60%;
    }

    .bannerContainer {
        height: 130px;
    }

    .modal-content h2 {
        font-size: 22px;
    }

    .modal-content p {
        font-size: 16px;
    }
}

@media(min-width: 1720px) {
    .modal-content {
        width: 40%;
    }

    .bannerContainer {
        height: 160px;
    }
}